doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Video

			.container.container_List.container-prod-info.retail-container
				.row
					- data.data.forEach(function(item){	

						.col-md-3.v-md3
							a.v-box(href="/breastfeeding/video/info?id=#{item._id}")
								- if(item.images && item.images[0]){
									img(src="/upload/#{item.images[0]['filename']}")
								- } else{
									img(src="/img/vdemo.png")
								- }
								
							.v-title| #{item.name}
							//.v-info| #{item.publishedDate}
				
					-})

			include ../inc/foot.jade


script.
	$(function(){
		
	})