doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner

			.container
				.page-bread-nav
					a(href="") Home
					span.blue_span / 
					a(href="") Blog
					span / 
					| reastfeeding Twins Solo

			.container.container_List
				.row
					.col-md-8.blog_list_wrap
						h2.blog_info_title Breastfeeding Twins Solo
						div.blog_info_date Posted on: 31st July 2015 By Joanna Venditti
						img(src="/img/PIC@2x.png", class="blog_info_img")
						div.blog_info_intro 
							| Breastfeeding twins without help or solo can seem like a daunting task, butif you have a plan and are well prepared, it can be done!
						div.blog_info_content
							| Don’t rush yourself, especially if these are your first children and you are still figuring out breastfeeding. Also, when you are establishing breastfeeding with your twins use any of the help you might have available to get off to a good start. Once you have conquered breastfeeding twins with help, it’s time to fly solo.



					include ../inc/blog_right.jade




			include ../inc/foot.jade


