doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner

			.container
				.page-bread-nav
					a(href="") Home
					span / 
					| Blog

			.container.container_List
				.row
					.col-md-8.blog_list_wrap
						ul.list-unstyled
							li
								h2 Tips for Weaning (but Only When You and Baby are Ready!)
								i Posted on: 31st July 2015 By Joanna Venditti
								img(src="/img/PIC@2x.png")
								p Exclusive breastfeeding is recommended for the first 6 months of life and then to at least 12 months of age with complementary foods. With that said, every mother will determine how long she will nurse, when she will wean her baby, or when a baby weans himself... 
								a(href="#", class="blog_btn") Read More

							li
								h2 Tips for Weaning (but Only When You and Baby are Ready!)
								i Posted on: 31st July 2015 By Joanna Venditti
								img(src="/img/PIC@2x.png")
								p Exclusive breastfeeding is recommended for the first 6 months of life and then to at least 12 months of age with complementary foods. With that said, every mother will determine how long she will nurse, when she will wean her baby, or when a baby weans himself... 
								a(href="#", class="blog_btn") Read More

							li
								h2 Tips for Weaning (but Only When You and Baby are Ready!)
								i Posted on: 31st July 2015 By Joanna Venditti
								img(src="/img/PIC@2x.png")
								p Exclusive breastfeeding is recommended for the first 6 months of life and then to at least 12 months of age with complementary foods. With that said, every mother will determine how long she will nurse, when she will wean her baby, or when a baby weans himself... 
								a(href="#", class="blog_btn") Read More

							li
								h2 Tips for Weaning (but Only When You and Baby are Ready!)
								i Posted on: 31st July 2015 By Joanna Venditti
								img(src="/img/PIC@2x.png")
								p Exclusive breastfeeding is recommended for the first 6 months of life and then to at least 12 months of age with complementary foods. With that said, every mother will determine how long she will nurse, when she will wean her baby, or when a baby weans himself... 
								a(href="#", class="blog_btn") Read More

					include ../inc/blog_right.jade




			include ../inc/foot.jade


