doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Contact Us

			.container.container_List.container-prod-info.retail-container
				.row
										
					.col-md-7
						.contact-title| Contact Us
						.contact-info| Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us
						.contact-detail
							.row
								.col-md-1
									img(src='/img/concact-icon-1.png')
								.col-md-5
									| +10-1234567890
								.col-md-1
									img(src='/img/concact-icon-2.png')
								.col-md-5
									| +10-1234567890

							.row
								.col-md-1
									img(src='/img/concact-icon-3.png')
								.col-md-5
									| +10-1234567890
								.col-md-1
									img(src='/img/concact-icon-4.png')
								.col-md-5
									| +10-1234567890

							.row
								.col-md-1
									img(src='/img/concact-icon-5.png')
								.col-md-5
									| +10-1234567890
								.col-md-1
									img(src='/img/concact-icon-6.png')
								.col-md-5
									| +10-1234567890

						



					.col-md-1

					.col-md-4
						.contact-map
							.contact-map-cover
								h2.cmap-title| 1.Walmart
								p.cmap-p| 1827 xx dfsd sdf s

								h2.cmap-title| 1.Walmart
								p.cmap-p| 1827 xx dfsd sdf s

								h2.cmap-title| 1.Walmart
								p.cmap-p| 1827 xx dfsd sdf s

								h2.cmap-title| 1.Walmart
								p.cmap-p| 1827 xx dfsd sdf s

								a.cbtn

				


			include ../inc/foot.jade


script.
	$(function(){
		
	})



