doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.dis-banner

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					a(href="/distributor") Where to Buy
					span / 
					| Distributor Locator

			.container.container_List
				.row
					.col-md-6.search-wrap

						h2.dis-h2 Enter  Your  Zipcode
						div.dis-inp-box
							input(type="text", id="dis-search-inp")
							a(href="#", class="dis-search")

						.dis-content
							- data.data.forEach(function(item, i){
								h3 #{i+1}. #{item.name}
								p #{item.zipcode} item.address


							- })
							
					.col-md-6.dis-map-wrap
						img(class="dis-map",src="/img/map@2x.png")

					




			include ../inc/foot.jade


script.

	$(function(){

		var allAddress = !{JSON.stringify(data.data)}

	})