doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper
			//inc nav
			include ../inc/nav.jade

			//
			.container-fluid
				.row
					div(id="homeBanner", class="homeBanner")

			.container-fluid
				.row
					div(id="homeMatters", class="homeMatters")
						.homeMattersBox
							p.p1
								|fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>
							p.p2
								|fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>
							p.p3
								|fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>
							p.p4
								|fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>fsdfsdaasdfsdfsdfsd<br/>fdfsdfasdfasdfsd<br/>

			.container-fluid
				.row
					div(id="homeProduct", class="homeProduct")
						.homeProductBoxHead
						.homeProductWrap


			.container-fluid
				.row
					div(id="homeCustom", class="homeCustom")
						.homeCustomHead
						.homeCustomWrap

			.container-fluid
				.row
					div(id="homePartners", class="homePartners")
						.homePartnersHead
						.homePartnersWrap
							

			.container-fluid
				.row
					div(id="homeSubscribe", class="homeSubscribe")
						.homeSubscribeWrap
							input(id="subInp", class="subInp")
							a(id="subBtn", class="subBtn", href="#")
							a(class="linkBtn")
							ul
								li
									a(href="#", class="fb")
								li
									a(href="#", class="tw")
								li
									a(href="#", class="ln")
								li
									a(href="#", class="gp")

			include ../inc/foot.jade