doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Insurance

			.container.container_List.container-prod-info
				.ins-info-title| fsdfsdsd sdfsdfsdf sdf sdfsd sd fsdfsdfsdff 
				
				.row
					.col-md-3
						.ins-info-selbox
							h2| * I Live In
							div(class="dropdown product-filter-dropdown ins-info-leftsel")
								a.filterBtn(href="javascript:;", class="dLabel", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									font.page-sort-choose Sort by Auto
									span(class="glyphicon glyphicon-chevron-down")
								ul(class="dropdown-menu", aria-labelledby="dLabel")
									li
										a(href="javascript:;").product-sort-a Auto
									li 
										a(href="javascript:;").product-sort-a Date
									li
										a(href="javascript:;").product-sort-a Price
									li
										a(href="javascript:;").product-sort-a Name

							h2| * Insurance Plan
							div(class="dropdown product-filter-dropdown ins-info-leftsel")
								a.filterBtn(href="javascript:;", class="dLabel", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									font.page-sort-choose Sort by Auto
									span(class="glyphicon glyphicon-chevron-down")
								ul(class="dropdown-menu", aria-labelledby="dLabel")
									li
										a(href="javascript:;").product-sort-a Auto
									li 
										a(href="javascript:;").product-sort-a Date
									li
										a(href="javascript:;").product-sort-a Price
									li
										a(href="javascript:;").product-sort-a Name

							a.ins-info-btn1(href="javascript:;")


					.col-md-9
						p.ins-info-p1| xcfsdfsdfasdf sdfsdsfd sd fsdf sd sds 
						p.ins-info-p2| dfsffasdfsdfsd sdfsda 

						.row
							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf

							.col-md-3
								.ins-info-blk
									| fsdfsdfsd
									b| fsdfsdf






				


			include ../inc/foot.jade


script.
	$(function(){
		
	})



