doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Insurance

			.container.container_List.container-prod-info
				.ins-info-title| fsdfsdsd sdfsdfsdf sdf sdfsd sd fsdfsdfsdff 
				
				.row
					.col-md-3
						.ins-info-selbox
							h2| * I Live In
							div(class="dropdown product-filter-dropdown ins-info-leftsel")
								a.filterBtn(href="javascript:;", class="dLabel", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									font#planStateSelText.page-sort-choose| 
									span(class="glyphicon glyphicon-chevron-down")
								ul#planStateSel(class="dropdown-menu", aria-labelledby="dLabel")
									// li
									// 	a(href="javascript:;").product-sort-a Auto
									// li 
									// 	a(href="javascript:;").product-sort-a Date
									// li
									// 	a(href="javascript:;").product-sort-a Price
									// li
									// 	a(href="javascript:;").product-sort-a Name

							h2| * Insurance Plan
							div(class="dropdown product-filter-dropdown ins-info-leftsel")
								a.filterBtn(href="javascript:;", class="dLabel", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
									font#planListSelText.page-sort-choose| 
									span(class="glyphicon glyphicon-chevron-down")
								ul#planListSel(class="dropdown-menu", aria-labelledby="dLabel")
									// li
									// 	a(href="javascript:;").product-sort-a Auto
									// li 
									// 	a(href="javascript:;").product-sort-a Date
									// li
									// 	a(href="javascript:;").product-sort-a Price
									// li
									// 	a(href="javascript:;").product-sort-a Name

							a#continueBtn.ins-info-btn1(href="javascript:;")


					.col-md-9
						p.ins-info-p1| xcfsdfsdfasdf sdfsdsfd sd fsdf sd sds 
						p.ins-info-p2| dfsffasdfsdfsd sdfsda 

						.row#ins-info-selbox
							




			script.
				window.insuranceInfoPage = true;

				


			include ../inc/foot.jade
			include ../inc/insurance_calc.jade

script.
	$(function(){
		
	})



