doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.row
				.blog-banner.product-banner

			.container
				.page-bread-nav
					a(href="") Home
					span / 
					| Products

			.container.container_List
				.row
					include ../inc/product_left.jade

					.col-md-9.blog_list_wrap
						h2.product-list-title Breastpumps
						h4.product-list-title-tip All Breastpumps are FDA approved

						include ../inc/product_list_filter.jade

						.row.product-list-wrap

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy

							.col-md-4.product-list-blk
								.product-list-inner-blk
									img(src="/img/product3@2x.png")
									p Bellema Professional Care Effective Double Electric Breast Pump
									.price $199.99
									a.buy(href="#") Buy



						include ../inc/product_list_filter.jade


			include ../inc/foot.jade


script.
	
	$(function(){






	})