doctype html
html

	include ../inc/head.jade

	body
		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="") Home
					span.blue_span / 
					a(href="") Products
					span / 
					| Bellema Professional Care Effective Double Electric Breast Pump

			.container.container_List
				.row
					.col-md-6
						.product-info-img-box
							.product-info-img-innerbox
							img(src="/img/product-PIC@2x.png", class="product-info-img")
						.product-info-img-box-bottom
							.row
								.col-xs-2
									a(href="javascript:;", class="product-img-sm")
										img(src="/img/product-PIC@2x.png")
								.col-xs-2
									a(href="javascript:;", class="product-img-sm")
										img(src="/img/product-PIC@2x.png")
								.col-xs-2
									a(href="javascript:;", class="product-img-sm")
										img(src="/img/product-PIC@2x.png")
								.col-xs-2
									a(href="javascript:;", class="product-img-sm")
										img(src="/img/product-PIC@2x.png")
								.col-xs-2
									a(href="javascript:;", class="product-img-sm")
										img(src="/img/product-PIC@2x.png")

					.col-md-6
						h2.product-info-title 
							| Bellema Professional Care Effective Double Electric Breast Pump
						h3.product-info-tips
							| Product Code: 2210M2


						.product-info-p
							| Availability: 
							span.red In Stock

						.product-info-price
							| $199.99

						.product-info-p
							| WHERE  TO  BUY:

						a(href="#", class="product-info-buy-btn")
							| Buy From<br/>Amazon.com

						.row.product-social
							a(href="")
								img(src="/img/fbBtn.png")
							a(href="")
								img(src="/img/gpBtn.png")
							a(href="")
								img(src="/img/lnBtn.png")
							a(href="")
								img(src="/img/twBtn.png")


				include ../inc/product_detail


			include ../inc/foot.jade


script.
	
	$(function(){






	})