doctype html
html
	
	include ../inc/head.jade
	//div#mask
	body
		link(rel="stylesheet", href="/css/magiczoomplus.css")
		script(src="/js/mzp-packed.js")

		.page-wrapper.page_wrapper.white_wrapper
			//inc nav
			include ../inc/nav.jade

			.product-top

			.container
				.page-bread-nav
					a(href="/") Home
					span.blue_span / 
					| Register your products

			.container.container_List.container-prod-info.retail-container
				.warrantyContainer
					.row
						.col-md-3.txtR
							|Product Model
							span.txtRed|*

						.col-md-3
							select.form-control#ProductId
								option(value="0")| Select Product Model
								- data.catData.forEach(function(item, i){

									option(value="#{item._id}")| #{item.name}

								- })
								
								option| xxx
						.col-md-2.txtR
							|S/N
							span.txtRed|*
						.col-md-3
							input#SN.form-control
	

					.row
						.col-md-3.txtR
							|Purchasing Date
							span.txtRed|*
						.col-md-5
							input.form-control#PurchasingDate(type="date")

					.row
						.col-md-3.txtR
							|Purchasing Address
							span.txtRed|*
						.col-md-8
							input.form-control#PurchasingAddress(type="text")


					.row
						.col-md-3.txtR
							|Last Name
							span.txtRed|*
						.col-md-3
							input.form-control#LastName(type="text")
						.col-md-2.txtR
							|First Name
							span.txtRed|*
						.col-md-3
							input.form-control#FirstName(type="text")

					.row
						.col-md-3.txtR
							|E-Mail
							span.txtRed|*
						.col-md-5
							input.form-control#Email(type="email")

					.row
						.col-md-3.txtR
							|Telephone
							span.txtRed|*
						.col-md-5
							input.form-control#Telephone(type="text")

					.row
						.col-md-3.txtR
							|Home Address
							span.txtRed|*
						.col-md-8
							input.form-control#HomeAddress(type="text")
	
					.row
						a#regist.pinkBtn.pinkBtnLong(href="javascript:;")| Register your products
				
		
				


			include ../inc/foot.jade


script.
	$(function(){
			$('#regist').click(function(){
				var data = {
					ProductId: ($('#ProductId').val() || '').trim(),
					SN: ($('#SN').val() || '').trim(),
					PurchasingDate: ($('#PurchasingDate').val() || '').trim(),
					PurchasingAddress: ($('#PurchasingAddress').val() || '').trim(),
					LastName: ($('#LastName').val() || '').trim(),
					FirstName: ($('#FirstName').val() || '').trim(),
					Email: ($('#Email').val() || '').trim(),
					Telephone: ($('#Telephone').val() || '').trim(),
					HomeAddress: ($('#HomeAddress').val() || '').trim(),
				}

				if(data.ProductId == '0' || data.ProductId.length !== 24){
					sweetAlert("Oops", 'invalid Porduct Model', 'error');
					return false
				}

				if(!data.PurchasingDate ){
					sweetAlert("Oops", 'invalid PurchasingDate', 'error');
					return false
				}

				try{
					data.PurchasingDate = moment(data.PurchasingDate);
					data.PurchasingDate = data.PurchasingDate.unix()*1000;
				}catch(e){
					sweetAlert("Oops", 'invalid Purchasing Date', 'error')
					return false
				}


				if(!data.SN ){
					sweetAlert("Oops", 'invalid Porduct SN', 'error');
					return false
				}

				if(!data.PurchasingAddress ){
					sweetAlert("Oops", 'invalid PurchasingAddress', 'error');
					return false
				}


				if(!data.LastName ){
					sweetAlert("Oops", 'invalid LastName', 'error');
					return false
				}

				if(!data.FirstName ){
					sweetAlert("Oops", 'invalid FirstName', 'error');
					return false
				}

				if(!data.Email ){
					sweetAlert("Oops", 'invalid Email', 'error');
					return false
				}

				if(!data.Telephone ){
					sweetAlert("Oops", 'invalid Telephone', 'error');
					return false
				}

				if(!data.HomeAddress ){
					sweetAlert("Oops", 'invalid HomeAddress', 'error');
					return false
				}


				$.post('/regist/product',data,function(data){
					if(data.error){
						sweetAlert("Oops", data.error, 'error')
						return false;
					}

					sweetAlert('regist success')
					setTimeout(function(){
						location.href = location.href;
					},1000)
	
				},'json')


			})
	})



