.col-md-4
	div.blog_right_box
		h2 Recent  Posts
		ul.list-unstyled
			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015

			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015

			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015


	div.blog_right_box
		h2 Recent  Posts
		ul.list-unstyled
			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015

			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015

			li
				.row
					.col-xs-4
						img(src="/img/Featured-3@2x.png")
					.col-xs-8
						| 11 Benefits of Breastfeeding for Baby
						i 31st July 2015

	a(href="/", class="blog_link")
		img(src="/img/Recent-posts@2x.png")