.container-fluid.container-foot
	.row
		div(id="footBox", class="footBox")
			.row
				.foot-fluid
					.col-md-2
						h2| About
						a.ftLink(href="/blog/list")|Blog
						a.ftLink(href="/support")|Support
						a.ftLink(href="/distributor")|Distributor
						a.ftLink(href="https://www.amazon.com/Bellema/b/ref=bl_dp_s_web_12076842011?ie=UTF8&;node=12076842011&field-lbr_brands_browse-bin=Bellema")|Buy from Amazon
					.col-md-2
						h2| Products
						- productMenu.forEach(function(item,i){
							- if(i>=4) return
							a.ftLink(href="/product/list?cat=#{item.name}") #{item.name}
						- })

					.col-md-2
						h2| Follow Us
						a.ftLink(href="https://www.facebook.com/BellemaUSA")|Facebook
						a.ftLink(href="https://twitter.com/BellemaUSA")|Twitter
						a.ftLink(href="https://www.instagram.com/bellemausa/")|Instagram
						a.ftLink(href="https://plus.google.com/101362370657508329799")|Google+
					.col-md-4.foot-r-wrap
						.row.foot-r
							p +1(800) 385 6819
							p Email:Bellema@gmail.com
							p Los Angeles BekSt 115
						.row
							p.ftSocial
								a(class="ftFb", href="https://www.facebook.com/BellemaUSA")
								a(class="ftTw", href="https://twitter.com/BellemaUSA")
								a(class="ftLn", href="https://www.instagram.com/bellemausa/")
								a(class="ftGp", href="https://plus.google.com/101362370657508329799")
	.row.ftBottom
		.foot-fluid
			.col-md-6
				|Copyright@Bellema USA 2016
			.col-md-6.al
				span
					i(class="glyphicon glyphicon-earphone" aria-hidden="true")
					|1 (800) 3856819
				span
					i(class="glyphicon glyphicon-envelope" aria-hidden="true")
					|bellema@gmail.com



//script(src="/startup/common-files/js/jquery.bxslider.min.js")
//script(src="/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js")
//script(src="/startup/common-files/js/jquery.sharrre.min.js")
script(src="/startup/flat-ui/js/bootstrap.min.js")
//script(src="/startup/common-files/js/masonry.pkgd.min.js")
//script(src="/startup/common-files/js/modernizr.custom.js")
//script(src="/startup/common-files/js/page-transitions.js")

//script(src="/startup/common-files/js/easing.min.js")
//script(src="/startup/common-files/js/jquery.svg.js")
//script(src="/startup/common-files/js/jquery.svganim.js")
//script(src="/startup/common-files/js/jquery.backgroundvideo.min.js")
//script(src="/startup/common-files/js/froogaloop.min.js")
script(src="/startup/common-files/js/startup-kit.js")
script(src="/swiper/dist/js/swiper.min.js")
script(src="/js/sweet-alert.min.js")