head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title= title || 'Bellema'
	link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	link(rel="stylesheet", href="/swiper/dist/css/swiper.min.css")
	link(rel="stylesheet", href="/startup/flat-ui/bootstrap/css/bootstrap.css")
	link(rel="stylesheet", href="/startup/flat-ui/css/flat-ui.css")
	link(rel="stylesheet", href="/startup/common-files/css/icon-font.css")
	link(rel="stylesheet", href="/startup/common-files/css/animations.css")
	link(rel="stylesheet", href="/static/css/style.css")
	link(rel="stylesheet", href="/styles/sweet-alert.css")
	script(src="/startup/common-files/js/jquery-1.10.2.min.js")
