header(class="header-11")
				.container
					.row
						.navbar-header
						button(type="button",class="navbar-toggle")
						
						a(href="/")
							img(src="/img/new-logo.png",width="183",height="50", class="topLogo")
								
						div(class="collapse navbar-collapse pull-right")
							ul(class="nav navbar-nav navbar-left")
								li.dropdown
									a(href="javascript:;", id="drop1", class="dropdown-toggle", data-toggle="dropdown",role="button",class="dropdown open",aria-expanded="true")
										|Products
										span(class="downArrow")

									ul(class="dropdown-menu", aria-labelledby="drop1")

										- productMenu.forEach(function(item){
											li
												a(href="/product/list?cat=#{item.name}") #{item.name}
										- })


								li
									a(href="/support")
										|Support

								li
									a(href="/distributor")
										|Distributor
				

								li
									a(href="/blog/list")
										|Resources

								li.dropdown
									a(href="javascript:;", id="drop1", class="dropdown-toggle", data-toggle="dropdown",role="button",class="dropdown open",aria-expanded="true")
										|Follow Us
										span(class="downArrow")
									ul(class="dropdown-menu", aria-labelledby="drop1")
										li
											a(href="https://www.facebook.com/BellemaUSA", target="_blank" class="nav_fb_a")
												span.nav_fb
												| Facebook
										li
											a(href="https://twitter.com/BellemaUSA",  target="_blank", class="nav_fb_a")
												span.nav_tw
												| Twitter
										li
											a(href="https://www.instagram.com/bellemausa",  target="_blank", class="nav_fb_a")
												span.nav_ins
												| Instagram		
										li
											a(href="https://plus.google.com/101362370657508329799",  target="_blank", class="nav_fb_a")
												span.nav_gp
												|Google+
								
							div(class="navbar-form pull-left", style="visibility: hidden;")
								a(class="btn btn-info" href="/")|SEARCH
				.header-background