header(class="header-11")
				.container
					.row
						.navbar-header
						button(type="button",class="navbar-toggle")
						
						img(src="/img/logo@2x.png",width="183",height="50", class="topLogo")
								
						div(class="collapse navbar-collapse pull-right")
							ul(class="nav navbar-nav navbar-left")
								li
									a(href="/")| HOME
								li
									a(href="/")| HOME
								li
									a(href="/")| HOME
								li
									a(href="/")| HOME
								li
									a(href="/")| HOME
								
							div(class="navbar-form pull-left", style="visibility: hidden;")
								a(class="btn btn-info" href="/")|SEARCH
				.header-background