.row
	.col-md-3

		div(class="dropdown product-filter-dropdown")
			a.filterBtn(href="javascript:;", id="dLabel", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
				| Sort by Date
				span(class="glyphicon glyphicon-chevron-down")
			ul(class="dropdown-menu", aria-labelledby="dLabel")
				li 
					a(href="javascript:;") Date
				li
					a(href="javascript:;") Price
				li
					a(href="javascript:;") Name

	.col-md-4.page-tips
		| Showing 1 - 09 of 12 Products
	.col-md-5
		| page nav