.col-md-3
	div.product-left-box
		h3 Categories
		a.product-l-link.sel(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)
		a.product-l-link(href="#") Series 1 (12)


	div.product-left-box
		h3 Featured Products
		.row
			.col-xs-5.product-img-wrap
				img(src="/img/product@2x.png")
			.col-xs-7
				p Bellema Mango Plus Single Electric Breast Pump
				.price $99


	a(href="/", class="product-link-img")
		img(src="/img/SliderAD@2x.png")