.product-row
	.product-d-btn.sel Description
	.product-d-btn Reviews (120)
.product-d-wrap
	
	.pro-box.hide
		p
			b BELLEMA Effective Double Electric Breast Pump - FDA Approved!
		p
			| 2-phase pumping: stimulation & expression, 9 adjustable vaccum power up to 320 mbar
		p
			| 2-phase pumping: stimulation & expression, 9 adjustable vaccum power up to 320 mbar
		p
			| 2-phase pumping: stimulation & expression, 9 adjustable vaccum power up to 320 mbar
		p
			| 2-phase pumping: stimulation & expression, 9 adjustable vaccum power up to 320 mbar
		p
			| 2-phase pumping: stimulation & expression, 9 adjustable vaccum power up to 320 mbar


	.pro-box

		.pro-box-title Showing 1 - 04 of 12 Reviews

		.row.review-line
			.col-md-1
				img(src="/img/head@2x.png")
			.col-md-11
				p.name
					| BySally Rosson
					span.gray September 13, 2015
				p.title
					| Most comfortable one I have tried!
				p.content
					| For last few weeks, I was looking for a double pump and was initially hesitant as this is half the price of other double pumps on the market. I've been using this for a week so far and I'm very impressed - it's quiet and efficient. There are numerous combinations of setting to get the best setting for you and it comes with different sizes pump heads to get a good fit for your nipple. It comes apart easily for sterilization and is a closed system so no risk of the pump becoming contaminated. I would definitely recommend this product.


		.row.review-line
			.col-md-1
				img(src="/img/head@2x.png")
			.col-md-11
				p.name
					| BySally Rosson
					span.gray September 13, 2015
				p.title
					| Most comfortable one I have tried!
				p.content
					| For last few weeks, I was looking for a double pump and was initially hesitant as this is half the price of other double pumps on the market. I've been using this for a week so far and I'm very impressed - it's quiet and efficient. There are numerous combinations of setting to get the best setting for you and it comes with different sizes pump heads to get a good fit for your nipple. It comes apart easily for sterilization and is a closed system so no risk of the pump becoming contaminated. I would definitely recommend this product.


		.row.review-line
			.col-md-1
				img(src="/img/head@2x.png")
			.col-md-11
				p.name
					| BySally Rosson
					span.gray September 13, 2015
				p.title
					| Most comfortable one I have tried!
				p.content
					| For last few weeks, I was looking for a double pump and was initially hesitant as this is half the price of other double pumps on the market. I've been using this for a week so far and I'm very impressed - it's quiet and efficient. There are numerous combinations of setting to get the best setting for you and it comes with different sizes pump heads to get a good fit for your nipple. It comes apart easily for sterilization and is a closed system so no risk of the pump becoming contaminated. I would definitely recommend this product.


		.row.review-line
			.col-md-1
			.col-md-11
				include ../inc/page_nav